* {
    box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
    background-color: black;
}

body {
    margin: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

p {
    font-size: 1.3em;
}

img {
    border-radius: 5px;
}

header h1 {
    text-align: center;
    line-height: 1em;
    padding: 10px;
}

header h1 span {
    font-size: 1.5em;
}

/* Basic styling for the navigation bar */
nav {
    display: flex;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.social-links {
    display: flex;
    gap: 15px;
    /* Space between icons */
    list-style-type: none;
    padding: 0;
}

.social-links a {
    display: inline-block;
    width: 30px;
    /* Adjust size */
    height: 30px;
    /* Adjust size */
}

.social-links svg {
    width: 100%;
    height: 100%;
    fill: white;
    /* White color for all icons */
    transition: fill 0.3s;
}

.social-links a:hover svg {
    fill: #ff6347;
    /* Change color on hover */
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin: 50px;
}

.main a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    text-decoration: none;
}

.main a p {
    color: white;
    margin: 10px 0;
}

.main img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

code {
    background-color: rgb(244, 244, 244);
    padding: 2px 4px;
    border-radius: 4px;
    color: #d14;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

article {
    max-width: 80vw;
    margin: 0 auto;
}