<footer>
    <img class="footer-img-wide"
        src="https://www.dropbox.com/scl/fi/mgpydg52uuids9wvxwr33/221010-julieverlinden-musiciansportrait-tissakhosla-4956_websize.jpg?rlkey=o3ddnqlfvog8ur85axaccrvdo&st=h672n8o3&raw=1"
        alt="playing at Crescent Park in New Orleans">
    <img class="footer-img-tall"
        src="https://www.dropbox.com/scl/fi/umvaibz7pzydz00p34e05/221010-julieverlinden-musiciansportrait-tissakhosla-5129_websize.jpg?rlkey=rwls592li1w8dpns7al81lhzt&st=8xk9y39i&raw=1"
        alt="playing at Crescent Park in New Orleans">
    <div class="__social-and-contact">
        <ul class="social-links social-links-header">
            <li>
                <a href="https://buymeacoffee.com/tissakhosla" target="_blank" aria-label="buy me a coffee">
                    <img src="img/bmc-dark.png" alt="biuy me a coffee logo">
                    <p>Buy me a coffee</p>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/khosla.tee/" target="_blank" aria-label="Instagram">
                    <img src="img/instagram-dark.png" alt="ig logo">
                    <p>Instagram</p>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/@tissakhosla" target="_blank" aria-label="YouTube">
                    <img src="img/youtube-dark.png" alt="youtube logo">
                    <p>Youtube</p>
                </a>
            </li>
            <li>
                <a href="https://github.com/tissakhosla" target="_blank" aria-label="GitHub">
                    <img src="img/github-dark.png" alt="github logo">
                    <p>Github</p>
                </a>
            </li>
            <li>
                <a href="https://soundcloud.com/tissa-khosla" target="_blank" aria-label="Soundcloud">
                    <img src="img/soundcloud-dark.png" alt="github logo">
                    <p>Soundcloud</p>
                </a>
            </li>
        </ul>
        <a class="social-links-header__contact" href="https://forms.gle/ehjDcWz4kaC58Vvg7" target="_blank"
            aria-label="Contact">
            Contact
        </a>
    </div>
</footer>