<footer>
    <ul class="social-links">
        <li>
            <a href="https://www.instagram.com/khosla.tee/" target="_blank" aria-label="Instagram">
                <!-- Instagram Icon -->
                <img src="img/Instagram_Glyph_White.png" alt="ig logo">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/@tissakhosla" target="_blank" aria-label="YouTube">
                <!-- YouTube Icon -->
                <img src="img/yt_icon_mono_dark.png" alt="youtube logo">
            </a>
        </li>
        <li>
            <a href="https://github.com/tissakhosla" target="_blank" aria-label="GitHub">
                <!-- GitHub Icon -->
                <img src="img/github-mark-white.png" alt="github logo">
            </a>
        </li>
    </ul>
    <img class="footer-img-wide"
        src="https://www.dropbox.com/scl/fi/pa4ewxgejxdtcgcq5nwq4/221010-julieverlinden-musiciansportrait-tissakhosla-4869_websize.jpg?rlkey=3od3b99b7hsjva05bjoh5k0t4&st=0inffn6s&raw=1"
        alt="playing at Crescent Park in New Orleans">
    <img class="footer-img-tall"
        src="https://www.dropbox.com/scl/fi/umvaibz7pzydz00p34e05/221010-julieverlinden-musiciansportrait-tissakhosla-5129_websize.jpg?rlkey=rwls592li1w8dpns7al81lhzt&st=8xk9y39i&raw=1"
        alt="playing at Crescent Park in New Orleans">
</footer>