<footer>
    <img class="footer-img-wide"
        src="https://www.dropbox.com/scl/fi/mgpydg52uuids9wvxwr33/221010-julieverlinden-musiciansportrait-tissakhosla-4956_websize.jpg?rlkey=o3ddnqlfvog8ur85axaccrvdo&st=h672n8o3&raw=1"
        alt="playing at Crescent Park in New Orleans">
    <img class="footer-img-tall"
        src="https://www.dropbox.com/scl/fi/umvaibz7pzydz00p34e05/221010-julieverlinden-musiciansportrait-tissakhosla-5129_websize.jpg?rlkey=rwls592li1w8dpns7al81lhzt&st=8xk9y39i&raw=1"
        alt="playing at Crescent Park in New Orleans">
</footer>