<header>
    <nav>
        <a href="#" id="menu-button">Menu</a>
        <div id="sidebar" class="sidebar">
            <a href="#" class="close-btn" id="close-btn">&times;</a>
            <div class="cats">
                <div>
                    <h2>Audio and Video</h2>
                    <a href="https://www.dropbox.com/scl/fo/5jaqq6vg7t5x69dt8mv8g/AEaOGWyjfoZCO8SNS7Yalms?rlkey=n8qj9hm03ojx59zlc60hguzb7&st=8svlt00x&dl=0"
                        target="_blank">Tallahassee Jazz Night - October 17th 2023</a>
                    <a href="https://soundcloud.com/tissa-khosla/sets/oc-collective" target="_blank">The OC Collective:
                        Live at the Summer Solstice Jazz Festival</a>
                    <a href="https://www.youtube.com/watch?v=iJ97t98QNC0&ab_channel=AmericanSymphonyOrchestra"
                        target="_blank">United We Play</a>
                    <a href="https://www.youtube.com/watch?v=TbfppCoeiTM&ab_channel=BYUSpeeches"
                        target="_blank">Democracy
                        and Jazz - MJG @ BYU</a>
                    <a href="https://www.youtube.com/watch?v=ggaQdHjpmy0&ab_channel=JazzNightinAmerica"
                        target="_blank">Jazz
                        Night in America - The Modern Jazz Generation</a>
                    <a>Tomorrow's Promises (Coming Soon)</a>
                    <a href="https://soundcloud.com/tissakhosla/sets/fine-print-ep?si=907b7e6f1c30447895878f6705e54d60&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing"
                        target="_blank">The Fine Print EP (2011)</a>
                </div>
                <div>
                    <h2>Documentation</h2>
                    <a href="https://github.com/tissakhosla/tissa-docs/blob/main/demucs.md" target="_blank">Demucs Music
                        Source Separation</a>
                    <a href="https://github.com/tissakhosla/SibPlugins" target="_blank">Custom Sibelius Plugins</a>
                    <a href="https://github.com/tissakhosla/tissa-docs/blob/main/youtube-downloader.md"
                        target="_blank">How
                        to: Download
                        Youtube Videos</a>
                </div>
                <div>
                    <h2>Professional Portfolio</h2>
                    <a href="https://www.canva.com/design/DADyJOaW7gk/f1IPkZgBHAKvV3wkAFs9ew/view?utm_content=DADyJOaW7gk&utm_campaign=designshare&utm_medium=link&utm_source=editor"
                        target="_blank">Curriculum
                        Vitae</a>
                    <a href="https://docs.google.com/spreadsheets/d/1Pv4g5ejIs38-7w4CrcJOasxs1uZnCs190uFm-np7vgw/edit?usp=sharing"
                        target="_blank">Session and Performance Index</a>
                    <a href="https://www.youtube.com/watch?v=4eb_FFj2uPM&ab_channel=MarcusRoberts" target="_blank">An
                        Evening With Marcus Roberts (Video Editor)</a>
                    <a href="https://caseytrees.org/" target="_blank">caseytrees.org (Web Developer)</a>
                    <a href="https://tissakhosla.github.io/siMone/" target="_blank">SiMone! (Web Game)</a>
                </div>
                <button class="theme-button" type="button" data-theme-toggle aria-label="Light Mode">Light
                    Mode</button>
            </div>
            <!-- <ul class="social-links">
                <li>
                    <a href="https://www.instagram.com/khosla.tee/" target="_blank" aria-label="Instagram">
                        <img src="img/instagram-dark.png" alt="ig logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@tissakhosla" target="_blank" aria-label="YouTube">
                        <img src="img/youtube-dark.png" alt="youtube logo">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/tissakhosla" target="_blank" aria-label="GitHub">
                        <img src="img/github-dark.png" alt="github logo">
                    </a>
                </li>
                <li>
                    <a href="https://soundcloud.com/tissa-khosla" target="_blank" aria-label="GitHub">
                        <img src="img/soundcloud-dark.png" alt="github logo">
                    </a>
                </li>
            </ul>
        </div> -->
    </nav>
    <div>
        <h1><span>TISSA</span><br>KHOSLA</h1>
    </div>
    <ul class="social-links social-links-header">
        <li>
            <a href="https://www.instagram.com/khosla.tee/" target="_blank" aria-label="Instagram">
                <img src="img/instagram-dark.png" alt="ig logo">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/@tissakhosla" target="_blank" aria-label="YouTube">
                <img src="img/youtube-dark.png" alt="youtube logo">
            </a>
        </li>
        <li>
            <a href="https://github.com/tissakhosla" target="_blank" aria-label="GitHub">
                <img src="img/github-dark.png" alt="github logo">
            </a>
        </li>
        <li>
            <a href="https://soundcloud.com/tissa-khosla" target="_blank" aria-label="GitHub">
                <img src="img/soundcloud-dark.png" alt="github logo">
            </a>
        </li>
    </ul>
</header>