<div class="main">
    <div class="column">
        <div class="cat">
            <h2>Music</h2>
            <p>audio and video of performances</p>
        </div>
        <div>
            <a href="https://www.dropbox.com/scl/fi/zbru961gtbqds1v2h44lp/0206-Send-One-Your-Love.flac?rlkey=i7rct72qz0w066dddhyj8ra3i&st=p5vc450m&raw=1"
                target="_blank">
                <img src="https://www.dropbox.com/scl/fi/vjge6rpiwzh92po1wfghe/221010-julieverlinden-musiciansportrait-tissakhosla-4932_websize.jpg?rlkey=h83nkxkr3nwqnlofyv10rbp8g&st=41fe5wwg&raw=1"
                    alt="tissa holding a baritone saxophone">
                <p>Send One Your Love, Live at the American Legion</p>
            </a>
            <a href="https://www.youtube.com/watch?v=iJ97t98QNC0" target="_blank">
                <img src="https://www.dropbox.com/scl/fi/le7jwnn2fj5amrnxenxuu/UWP-regular-1.jpg?rlkey=5giql80e1azqvmxyw5gnwq6ds&st=oyw3thz4&raw=1"
                    alt="United WE PLay">
                <p>United We Play - The Modern Jazz Generation</p>
            </a>
            <a href="https://www.youtube.com/watch?v=F1Kxpx6ltxI" target="_blank">
                <img src="https://www.dropbox.com/scl/fi/6uq0ks17bnj1crbtb3307/ornette-something-else.jpg?rlkey=iz9o3le1s7f4qppk2lhghhb0c&st=q28yhvu4&raw=1"
                    alt="ornette coleman's something else!!!">
                <p>Jayne - The OC Collective</p>
            </a>
        </div>
    </div>
    <div class="column">
        <div class="cat">
            <h2>Tech</h2>
            <p>text on code, music tech, and more</p>
        </div>
        <div>
            <a href="https://github.com/tissakhosla/tissa-docs/blob/main/demucs.md" target="_blank">
                <img src="https://www.dropbox.com/scl/fi/w96rsuo0ancq83ar2titz/Demucs-Screenshot.png?rlkey=ky96i508mr8epxv8fm9y07qw1&st=rosbl084&raw=1"
                    alt="A computer with waveforms">
                <p>Demucs Music Source Separation</p>
            </a>
            <a href="https://github.com/tissakhosla/SibPlugins" target="_blank">
                <img src="https://www.dropbox.com/scl/fi/nmy3b8k82hv4dcmbtbrdd/Sibelius.png?rlkey=hf5tg88rry1iy1wsgmh9thw2w&st=a58rtewc&raw=1"
                    alt="screenshot of Sibelius">
                <p>Sibelius Plugins!</p>
            </a>
            <a href="https://github.com/tissakhosla/tissa-docs/blob/main/youtube-downloader.md" target="_blank">
                <img src="https://www.dropbox.com/scl/fi/emrfp4i94ino0vkvx6pzf/yt-dlp-screenshot.png?rlkey=81xveuck6dyad4u9w7vus8fwn&st=hvuaphqv&raw=1"
                    alt="screenshot of terminal and youtube extractor">
                <p>Downloading Youtube Audio or Video</p>
            </a>
            <a href="https://tissakhosla.github.io/siMone/" target="_blank">
                <img src="https://www.dropbox.com/scl/fi/72c6eacpnjvr01fnljc96/simone.png?rlkey=3be9rzzna9vt9igrikuvospdy&st=hk0yoic6&raw=1"
                    alt="screenshot of the game simone!">
                <p>A Simple Game I Coded - SiMone!</p>
            </a>
        </div>
    </div>
    <div class="column">
        <div class="cat">
            <h2>Charts</h2>
            <p>scores, lead sheets, transcriptions</p>
        </div>
        <div>
            <a href="https://www.dropbox.com/scl/fi/3a3jvzbwdfl2wi2rrhxso/Surrey-with-the-Fringe-Sonny-Tenor.pdf?rlkey=tub3s9pc7rv8l7yurymw4i0yc&st=ad53o0v8&raw=1"
                target="_blank">
                <img src="https://www.dropbox.com/scl/fi/iblzl6ethz2spwox13bli/Newks-Time.jpg?rlkey=ws45l28os9r9h8hwvnvnz63um&st=b7825uuq&raw=1"
                    alt="sonny rollins newk's time">
                <p>Transcription - The Surrey with the Fringe On Top</p>
            </a>
            <a href="https://www.dropbox.com/scl/fi/zbru961gtbqds1v2h44lp/0206-Send-One-Your-Love.flac?rlkey=i7rct72qz0w066dddhyj8ra3i&st=p5vc450m&raw=1"
                target="_blank">
                <img src="https://www.dropbox.com/scl/fi/vw7qz18bq61ydci870mt6/GO.jpg?rlkey=zjsh7kgpr121u8ll5zw1tct42&st=7twjzim7&raw=1"
                    alt="Dexter Gordon's album GO">
                <p>Transcription - Love for Sale</p>
            </a>
            <a href="https://www.dropbox.com/scl/fi/knhhugcblu7t1f66ymxvq/Send-One-Your-Love-V4-Full-Score.pdf?rlkey=wwrpakd8qunysprhii7jqm185&st=2eanvgre&raw=1"
                target="_blank">
                <img src="https://www.dropbox.com/scl/fi/ugpyt1xdrl029lgt14sd3/Secret-Life-of-Plants.jpg?rlkey=bxdoxissgbi4ugxm5x11dtgca&st=5lf08c8m&raw=1"
                    alt="stevie wonder's album journey through the secret life of plants">
                <p>Score - Send One Your Love</p>
            </a>
            <a href="https://www.dropbox.com/scl/fi/kbaig0cdwrklg3uia926r/The-Freedom-Suite-V1-Parts.pdf?rlkey=llnfq6gmty9g4q0rzxspw9g37&st=ji5r1jcg&raw=1"
                target="_blank">
                <img src="https://www.dropbox.com/scl/fi/o8fq7s3vfbpmrmn94bzmm/freedom-suite.png?rlkey=wa6vzdvxc2pqomxkhtbetf67w&st=q2jefry7&raw=1"
                    alt="sonny rollins album The Freedom Suite">
                <p>The Freedom Suite - Trio PDFs</p>
            </a>
        </div>
    </div>
</div>