* {
    box-sizing: border-box;
}

[data-theme="dark"] {
    --color-bg: #000000;
    --color-fg: #ffffff;
}

[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #000000;
}

html {
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--color-bg);
}

body {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--color-fg);
}

p {
    font-size: 1.3em;
}

img {
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 50px;
    flex-wrap: wrap-reverse;
}

header>nav,
header>div,
header>ul {
    width: 33%;
}

header h1 {
    text-align: center;
    line-height: .5em;
    font-size: 46px;
    margin: 0;
}

header h1 span {
    font-size: 30px;
    margin: 0;
}

nav {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

nav>a {
    text-align: right;
    font-size: 24px;
    transition: all .3s;
    background: rgba(255, 255, 255, 0);
    padding: 10px;
}

nav>a:hover {
    background: rgba(255, 255, 255, 1);
    color: black;
}

.__social-and-contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    margin: 15px
}

.social-links img {
    width: auto;
    height: 30px;
    opacity: 1;
    transition: all 0.3s;
}

.social-links a:hover img,
.social-links a:focus img {
    opacity: .5;
}


.social-links-header p {
    display: none;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 0.8em;
}

header .social-links-header a:hover p,
header .social-links-header a:focus p {
    display: block;
    /* Show the text on hover or focus */
}

.social-links-header__contact {
    text-decoration: none;
    margin: 5px;
    padding: 6px 12px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    background-color: var(--color-fg);
    border: 1px solid var(--color-fg);
    color: var(--color-bg);
    text-transform: uppercase;
}

.social-links-header__contact:hover,
.social-links-header__contact:focus {
    background-color: var(--color-bg);
    border: 1px solid var(--color-fg);
    color: var(--color-fg);
}

.sidebar {
    height: 100vh;
    width: 0;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(17, 17, 17, .97);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: width 0.5s;
    padding-top: 60px;
    padding-bottom: 30px;
    z-index: 1000;
    display: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .cats a {
    padding: 12px 40px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    font-family: 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', Consolas, Monaco, 'Lucida Console';
}

.sidebar .cats a:hover,
.sidebar .cats a:focus {
    background-color: white;
    color: #111;
    font-weight: bold;
}

.sidebar .close-btn {
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    font-weight: lighter;
    padding: 20px;
    line-height: .5;
    margin: 10px;
    text-decoration: none;
}

.sidebar h2 {
    color: white;
    margin: 25px;
    font-family: 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', Consolas, Monaco, 'Lucida Console';
    text-transform: uppercase;
    padding-right: 10px;
}

.sidebar .cats div {
    overflow-x: hidden;
    max-width: 100%;
}

.sidebar .social-links {
    margin: auto 5px 5px 40px;
    display: flex;
    justify-content: flex-end;
}

.sidebar .social-links img {
    height: 30px;
    width: auto;
}

.sidebar .theme-button {
    font-size: 20px;
    padding: 10px 15px;
    margin: 20px 30px;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    font-family: 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', Consolas, Monaco, 'Lucida Console';
}

.sidebar .theme-button:hover,
.sidebar .theme-button:focus {
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.cat {
    border-bottom: solid var(--color-fg) 1px;
    width: 100%;
    margin-bottom: 10px;
}

.main h2 {
    margin: 0;
    text-transform: uppercase;
}

.cat p {
    margin: 0
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin: 0 20px;
}

.main a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 400px;
    padding: 10px 0;
    text-decoration: none;
}

.main a p {
    margin: 10px 0;
    text-decoration: underline;
    text-decoration-color: var(--color-bg);
    text-decoration-thickness: 1px;
    text-underline-offset: 0em;
    transition: all .3s;
}

.main a:hover p,
.main a:focus p {
    text-underline-offset: .2em;
    text-decoration-color: var(--color-fg);
}

.main img {
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: all .3s
}


.main a:hover img,
.main a:focus img {
    opacity: .5;
}

.coming-soon {
    text-align: center;
}


.scroll-down-container {
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    animation: bounce 2s infinite;
}

.arrow-hidden {
    opacity: 0;
    pointer-events: none;
}

.footer-img-wide {
    width: 100%;
    border-radius: 0;
}

.footer-img-tall {
    display: none;
}

footer .__social-and-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 910px) {
    header {
        /* width: 100%; */
        justify-content: space-between;
        margin: 20px;
    }

    header h1 {
        text-align: left;
    }

    header>.__social-and-contact {
        display: none;
    }

    .footer-img-wide {
        display: none;
    }

    .footer-img-tall {
        display: block;
        width: 100%;
        border-radius: 0;
    }
}