* {
    box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
    background-color: black;
}

body {
    margin: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

p {
    font-size: 1.3em;
}

img {
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

header>nav,
header>div,
header>ul {
    width: 33%;
}

header h1 {
    text-align: center;
    line-height: 1em;
    padding: 10px;
}

header h1 span {
    font-size: 1.5em;
}

nav {
    display: flex;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-links a {
    display: inline-block;
    width: auto;
    height: 30px;
    margin: 15px
}

.social-links img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.3s;
}

.social-links a:hover img,
.social-links a:focus img {
    opacity: .5;
}

.main {
    display: flex;
    justify-content: center;
    align-items: start;
}

.cat {
    border-bottom: solid white 1px;
    width: 100%;
    margin-bottom: 10px;
}

.main h2 {
    margin: 0;
    text-transform: uppercase;
}

.cat p {
    margin: 0
}


.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin: 0 20px;
}

.main a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 400px;
    padding: 10px 0;
    text-decoration: none;
}

.main a p {
    color: white;
    margin: 10px 0;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    text-underline-offset: .3em;
    transform: all .3s;
}

.main a:hover p,
.main a:focus p {
    text-underline-offset: .3em;
    text-decoration-color: rgba(255, 255, 255, .6);
}

.main img {
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: all .3s
}


.main a:hover img,
.main a:focus img {
    opacity: .5;
}

.coming-soon {
    text-align: center;
}


.scroll-down-container {
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    animation: bounce 2s infinite;
}

.arrow-hidden {
    opacity: 0;
    pointer-events: none;
}

.footer-img {
    width: 100%;
}